{"extends": "airbnb-base",
  "rules":{
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "quotes": ["error", "double"],
    "no-console" : 0,
    "comma-dangle": ["error", "only-multiline"],
    "object-shorthand": 0,
    "arrow-body-style": ["error", "always"]
  }
}